body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this CSS to your global styles or a CSS file */
/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* Set the color of the scrollbar handle */
  // background: #243448; 
  background: #766bb9
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the color of the scrollbar handle on hover */
}

/* On active (click) */
::-webkit-scrollbar-thumb:active {
  background: #777; /* Set the color of the scrollbar handle on click */
}